body {
  height: 100%;
  width: 100%;
  background: black;
  font-family: 'Arimo', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #010b26;
}

/* Fade animation */

.fadeMe {
  animation:fadeIn 2s linear;
}

@keyframes fadeIn {
  0% {
    opacity:0
  }
  100% {
    opacity:1;
  }
}

.fadeMe.none {
  display:none
}

/* get scroll bar appear with modal */

.modal-open {
  overflow: auto;
  padding-right: 0px!important;
}

/* fix nav dropdown */

#navbarToggleExternalContent {
  position: absolute;
  width: 100%;
}

.jumbotron {
  padding: 2rem 1rem;
}

* {
  -webkit-transition: 300ms;
  transition: 300ms;
}

#heading-404 {
  max-width: 100%;
}

.avatar-new {
  border-radius: 5%;
}

.bg-dark {
  background-color: #213E49!important;
}

.breadcrumb {
  border-radius: 0px;
  margin: 0;
}


/* INDEX */

#index-features {
  background-image: url('/img/index.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


/* GENRE */

.text-truncate {
  max-width: 300px;
}


/* TITLE */

.title {
  color: #01D474;
}


/* AVATAR */

#comment-container {
  padding: 2%;
  background: white;
  border-radius: 5px;
  width: 95%;
  margin: auto;
}

.comment-avatar {
  height: 100px;
  width: 100px;
}

#avatar {
  height: 20%;
  background: none;
}

#login-avatar {
  height: 80px;
}

#avatar-nav {
  height: 25px;
  border-radius: 50%;
}

#movie_Page {
  background-size: cover;
  /* Full height */
}

.intro {
  text-align: center;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #01d474;
}

#smoothAnchor {
  position: relative;
  top: -80px;
}

.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size {
  font-size: 87px;
}

.btn-primary {
  background: #01D474!important;
  color: white;
  border: none;
}

.btn-primary:hover {
  background: #56DFA1!important;
  color: white;
  border: none;
}

.blue {
  position: relative;
}

.dark {
  background: black;
  overflow: hidden;
}

.dark:before {
  position: absolute;
  width: 0;
  z-index: 1;
  height: 0;
  content: "";
  border-bottom: 65px solid transparent;
  border-left: 50vw solid rgba(1, 212, 116,0.5);
}

.jumbotron {
  margin-bottom: 0;
}


/* INDEX */

#fullHeader {
  height: 100vh;
  background-size: cover;
}

.blue:before {
  position: absolute;
  width: 0;
  z-index: 1;
  height: 0;
  content: "";
  border-bottom: 65px solid transparent;
  border-left: 50vw solid #01D474;
}

.blue:after {
  right: 0;
  position: absolute;
  bottom: 0px;
  width: 0;
  z-index: 1;
  height: 0;
  content: "";
  border-top: 65px solid transparent;
  border-right: 50vw solid #01D474;
}

#blur {
  position: absolute;
  top: 5%;
  z-index: 20;
}

.comment {
  max-width: 1250px;
}

#login-form {
  position: absolute;
  top: 35%;
  background-color: rgba(106, 207, 240, 0.5);
}

.login {
  background-image: url('/img/login-bg.jpg');
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

#fullHeaderMovie {
  height: 150vh;
  background-size: cover;
  z-index: 1;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

#fullHeaderSeason {
  height: 60vh;
  background-size: cover;
  z-index: 1;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.navbar {
  background: radial-gradient(at 30% top, rgba(7, 64, 52, 1) 0%, rgba(8, 28, 36, 1) 70%);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
}

.form-inline {
  justify-content: center;
}

.movie-card {
  background: #ffffff;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  height: 465px;
}

.movie-header {
  padding: 0;
  margin: 0;
  height: 281px;
  width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
}

.header-icon-container {
  position: relative;
}

.header-icon {
  width: 100%;
  height: 281px;
  line-height: 281px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  color: #ffffff;
  font-size: 2rem;
  text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
  opacity: .85;
}

.header-icon:hover {
  background: rgba(0, 0, 0, 0.15);
  font-size: 3rem;
  text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6ABCEA;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 1;
}

.movie-card:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}

.movie-content {
  padding: 18px 18px 24px 18px;
  margin: 0;
}

.movie-content-header,
.movie-info {
  display: table;
  width: 100%;
}

.movie-title {
  font-size: 24px;
  margin: 0;
  display: table-cell;
}

.imax-logo {
  width: 50px;
  height: 15px;
  background: url("https://6a25bbd04bd33b8a843e-9626a8b6c7858057941524bfdad5f5b0.ssl.cf5.rackcdn.com/media_kit/3e27ede823afbf139c57f1c78a03c870.jpg") no-repeat;
  background-size: contain;
  display: table-cell;
  float: right;
  position: relative;
  margin-top: 5px;
}

.movie-info {
  margin-top: 1em;
}

.info-section {
  display: table-cell;
  text-transform: uppercase;
  text-align: center;
}

.info-section:first-of-type {
  text-align: left;
}

.info-section:last-of-type {
  text-align: right;
}

.info-section label {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: .5em;
  font-size: 9px;
}

.info-section span {
  font-weight: 700;
  font-size: 11px;
}

#seasonCard {
  margin: 1%;
  max-width: 307px;
}

#seasonContent {
  background: url("/img/addictshow.png") repeat, rgba(255, 255, 255, .9);
}


/* SEARCH */

#searchContent {
  padding: 5% 0 5% 0;
  background: url("/img/addictshow.png") repeat, rgba(255, 255, 255, 0.9);
}

#background-search {
  background: url("/img/tv-show-body.jpg");
  opacity: 0.2;
  background-size: cover;
  height: 10vw;
}

.movie-card-search {
  height: 340px;
  max-width: 300px;
  min-width: 300px;
}

.header-search {
  height: 169px;
}

.header-title {
  color: #132D37;
}

.search-link {
  text-decoration: none!important;
}

#search-cards {
  flex-wrap: wrap!important;
}

.cardContainer {
  overflow: hidden;
  height: 575px;
  max-width: 1255px;
  margin: auto;
}

#infosContent {
  background: rgba(1, 212, 116,0.5);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}

.resume {
  text-align: justify;
}


/* movie */

.favourite {
  margin: 0 auto;
  font-size: 25px;
}

.selected {
  color: red;
}

.last-air-episode {
  border: none;
  border-radius: 0px;
}

.backdrop-show {
  opacity: 0.5;
  max-width: 100%;
}


/* SEASON */

.overview-overflow {
  max-height: 282px;
  overflow: auto;
}

#episodeCard {
  background: rgba(0, 0, 0, 0.9);
  padding: 1%;
  box-shadow: 5px 5px 5px grey;
  max-width: 1050px;
}

.movie-infos {
  flex: 1;
  padding-left: 1%;
}

.profile {
  border-radius: 5%;
  width: 100px;
  height: 150px;
  border: 3px #01D474 solid;
}

#profiles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.network {
  width: 185px;
  padding: 1%;
}

.similar,
.similar label {
  color: white !important;
}

.movieContent {
  max-width: 1250px;
  margin: auto;
}

.poster {
  padding: 0px;
}

.carousel-inner {
  overflow: visible;
}

.pos-f-t {
  position: sticky;
  top: 0;
  z-index: 99999;
}

.pos-f {
  position: sticky;
  top: 0;
  z-index: 99999;
}

.fa-star {
  color: yellow;
}

.scrolltop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 20px;
  right: 10px;
}

.scroll {
  z-index: 100;
  position: absolute;
  color: #01d474;
  right: 1%;
  bottom: 1%;
  padding: 0.5%;
  text-align: center;
  margin: 0 0 0 0;
  cursor: pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

.scroll:hover {
  transform: scale(1.2);
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

.scroll:hover .fa {
  padding-top: -10px;
}

.scroll .fa {
  font-size: 30px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

.wrap {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}


/* EPISODE */

.filmoja-theater-area {
  position: relative;
  z-index: 1;
  background: #f9f9f9 none repeat scroll 0 0;
}

.filmoja-theater-area:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 65%;
  height: 100%;
  background: #111 none repeat scroll 0 0;
  opacity: 0.5;
}

.section_70 {
  padding: 70px 0;
}

.filmoja-theater-area:after {
  position: absolute;
  left: 0;
  content: "";
  width: 65%;
  top: 0;
  height: 100%;
  background: url(/img/tv-show-body.jpg) no-repeat scroll 0 0/cover;
  z-index: -1;
}

.theater-left {
  display: table;
  height: 100%;
  width: 100%;
}

.theater-box {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  background: rgba(255, 255, 255, .2);
  padding: 2%;
}

.single-theater {
  border: 5px solid #01D474;
  border-radius: 5px;
  position: relative;
  background: #01D474;
}

.single-theater img {
  width: 100%;
  border-radius: 5px;
  position: relative;
}

.single-theater a.play-video {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 40px;
  background: #FF0000 none repeat scroll 0 0;
  border-radius: 10px;
  top: 54%;
  left: 50%;
  margin: -30px 0 0 -30px;
  z-index: 3;
  font-size: 17px;
  color: #fff;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  text-decoration: none;
}

.single-theater a.play-video:hover {
  transform: scale(1.2);
}

.theater-text h3 {
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-size: 37px;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.theater-text h4 {
  font-size: 17px;
  color: #01D474;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.theater-text p {
  text-align: justify;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
}

.theater-text a.filmoja-btn {
  margin-top: 20px;
}

.single-theater:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000 none repeat scroll 0 0;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}

#avatar-cast {
  width: 100px;
  height: 150px;
  border-radius: 5%;
  border: 3px white solid;
}

.cast-container {
  padding: 1%;
  background: rgba(255, 255, 255, .2);
}

.cast-card {
  max-width: 160px;
  min-width: 160px;
}


/* GALLERY */

.gallery {
  background: rgba(255, 255, 255, .2);
}


/* PROFIL VIEW */

.background-profil {
  background-image: url(/img/tv-show-body.jpg);
  height: 15vw;
  background-size: cover;
}

.profil-head {
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

.emp-profile {
  padding: 3%;
  margin: 3% auto !important;
  border-radius: 0.5rem;
  background: #fff;
}

.text-profil {
  color: #01D474;
}

.profile-img {
  text-align: center;
}

.profile-img img {
  width: 70%;
  height: 100%;
}

.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -19%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}

.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.profile-head h5 {
  color: #333;
}

.profile-head h6 {
  color: #01d474;
}

.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}

.proile-rating {
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}

.proile-rating span {
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}

.profile-head .nav-tabs {
  margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}

.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #01d474;
}

.profile-work {
  padding: 14%;
  margin-top: -15%;
}

.profile-work p {
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}

.profile-work a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

.profile-work ul {
  list-style: none;
}

.profile-tab label {
  font-weight: 600;
}

.profile-tab p {
  font-weight: 600;
  color: #01D474;
}


/* RATING TV SHOW */

#rate {
  background-color: #FFFF00;
  padding: 1em;
  height: 10%;
  border-radius: 50%;
}

.rating-btn {
  align-self: flex-end;
  padding: 2%;
}

.container-rating {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating>input {
  display: none;
}

.rating>label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating>input:checked~label,
.rating>input:checked~label~label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating>input:not(:checked)~label:hover,
.rating>input:not(:checked)~label:hover~label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after {
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.emoji-wrapper:before {
  top: 0;
}

.emoji-wrapper:after {
  bottom: 0;
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
}

.emoji>svg {
  margin: 15px 0;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

#rating-1:checked~.emoji-wrapper>.emoji {
  transform: translateY(-100px);
}

#rating-2:checked~.emoji-wrapper>.emoji {
  transform: translateY(-200px);
}

#rating-3:checked~.emoji-wrapper>.emoji {
  transform: translateY(-300px);
}

#rating-4:checked~.emoji-wrapper>.emoji {
  transform: translateY(-400px);
}

#rating-5:checked~.emoji-wrapper>.emoji {
  transform: translateY(-500px);
}

.feedback {
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, .5);
}

/* DISCOVER */

h3 hr {
  border-top: 15px solid rgba(255, 255, 255, 0.2);
}

/* FOOTER */

footer {
  width: 100%;
  background: url('https://www.themoviedb.org/assets/2/v4/footers_v2/BreakingBad-0541701c71d1c77aae2d4487be97b9a879fc41e881911fd3d32558f1f5f75d44.jpg'), radial-gradient(at 30% top, rgba(7, 64, 52, 1) 0%, rgba(8, 28, 36, 1) 70%);
  background-size: cover;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
  color: white;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

footer p {
  font-size: 13px;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

footer hr {
  border-top: 15px solid rgba(255, 255, 255, 0.2);
}

@media (min-width: 1230px) {
  #seasonContent {
    justify-content: space-evenly !important;
  }
  .backdrop-show {
    min-width: 30%;
  }
  .backdrop-last-air-episode-bloc {
    display: flex;
    justify-content: space-between;
  }
}

.card_stars {
  top: calc(50% - 20px);
  left: calc( 50% - 100px);
  bottom: 1px;
  right: 1px;
  width: 200px;
  height: 40px;
  text-align: center;
}
.card__stars {
  position: relative;
  width: 200px;
  display: inline-block;
  height: 40px;
}
.card__stars:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' x='0px' y='0px' viewBox='0 0 50 50' fill='%23dddddd' %3E%3Cpath d='M 25 2.2734375 L 18.609375 18.480469 L 0.81054688 19.417969 L 14.648438 30.412109 L 10.070312 47.222656 L 25 37.771484 L 39.929688 47.222656 L 35.351562 30.412109 L 49.189453 19.417969 L 31.390625 18.480469 L 25 2.2734375 z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: auto 100%;
  bottom: 0;
  content: "";
  display: block;
  height: 40px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.card__stars:after {
  background-repeat: repeat-x;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' x='0px' y='0px' viewBox='0 0 50 50' fill='%23f1c40f' %3E%3Cpath d='M 25 2.2734375 L 18.609375 18.480469 L 0.81054688 19.417969 L 14.648438 30.412109 L 10.070312 47.222656 L 25 37.771484 L 39.929688 47.222656 L 35.351562 30.412109 L 49.189453 19.417969 L 31.390625 18.480469 L 25 2.2734375 z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 40px;
  content: "";
  display: block;
  width: 200px;
  height: 40px;
  position: absolute;
  overflow: hidden;
}
.card__stars[data-rating="0"]:after {
  width: 0px;
}
.card__stars[data-rating="1"]:after {
  width: 40px;
}
.card__stars[data-rating="2"]:after {
  width: 80px;
}
.card__stars[data-rating="3"]:after {
  width: 120px;
}
.card__stars[data-rating="4"]:after {
  width: 160px;
}
.card__stars[data-rating="5"]:after {
  width: 200px;
}
.card__stars:hover {
  cursor: pointer;
}
.card__stars:hover:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' x='0px' y='0px' viewBox='0 0 50 50' fill='%23e3d06c' %3E%3Cpath d='M 25 2.2734375 L 18.609375 18.480469 L 0.81054688 19.417969 L 14.648438 30.412109 L 10.070312 47.222656 L 25 37.771484 L 39.929688 47.222656 L 35.351562 30.412109 L 49.189453 19.417969 L 31.390625 18.480469 L 25 2.2734375 z'%3E%3C/path%3E%3C/svg%3E");
}

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active+.carousel-item,
  .carousel-inner .active+.carousel-item+.carousel-item {
    display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* left or forward direction */
  .active.carousel-item-left+.carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  .carousel-item {
    margin-right: 0px;
  }
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

@media screen and (max-width: 500px) {
  .movie-card {
    margin: auto;
    display: block;
  }
  /* INDEX */
  #search {
    width: 50%;
    margin-right: 1%;
  }
  .cardContainer {
    height: 605px !important;
  }
  .container {
    padding: 0;
    margin: 0;
  }
  .display-2 {
    font-size: 3rem;
  }
  .movie-card-search {
    margin: auto;
  }
  #searchContent {
    position: relative !important;
  }
  #netflix {
    padding-left: 15px!important;
  }
  .netflix-container {
    flex-direction: row;
    display: flex;
    overflow: auto;
    margin-bottom: 2em;
  }
  .card {
    min-width: 90%;
    margin-right: 1em;
  }
  /* SHOW */
  #fullHeaderMovie {
    height: 240vh;
  }
  #blur {
    top: 7%;
  }
  .last-air-episode {
    margin: 0;
  }
  #show-title {
    flex-direction: column;
  }
  .container-rating {
    padding: 0px!important;
    margin: 2% 0;
  }
  .backdrop-last-air-episode-bloc {
    display: block;
  }
  /* SEASON */
  #fullHeaderSeason {
    height: 10vh;
    filter: blur(5px);
  }
  .blur-season {
    position: relative!important;
    top: 0!important;
  }
  #infosContent {
    padding: 3%;
    justify-content: flex-start !important;
    height: auto!important;
  }
  .preface {
    justify-content: center;
  }
  #episodeCard {
    flex-direction: column!important;
  }
  /* EPISODE */
  .filmoja-theater-area:before {
    width: 100% !important;
  }
  .filmoja-theater-area:after {
    width: 100% !important;
  }
  .cast-fluid {
    position: relative;
    width: 100vw;
  }
  .cast-container {
    flex-direction: row;
    flex-wrap: nowrap !important;
    background: none!important;
    overflow: auto;
  }
  .cast-episode {
    padding-left: 30%!important;
    padding-right: 5%!important;
  }
  /* SEARCH */
  .search-card-container {
    margin: auto;
    padding: 0;
  }
  .movie-card-search {
    min-width: auto;
  }
  /* PROFIL */
  .background-profil {
    height: 33vw!important;
    position: relative;
  }
  .profile-img img {
    width: 100%!important;
  }
  .profile-img .file {
    margin-top: -10%;
    width: 100%;
  }
  .emp-profile {
    border-radius: 0px!important;
  }

  .profile-content {
    flex-direction: column-reverse;
  }

  .profile-tab {
    order: 3;
  }

  .profile-work {
    padding: 0px!important;
    margin-top: 0px!important;
  }

  .profile-btn {
    flex-direction: row!important;
    display: flex!important;
    justify-content: space-around;
    width: 60%;
  }

  .profile-btn-container {
    width: 100%;
    justify-content: space-around;
  }
}